:root {
  /* Cor do background */
  --background-color: #14142B;
  --separator-color-primary: rgba(173, 179, 187, 0.48);
  /* Cor do header, footer e outros elementos principais */
  --primary-color: #2E3246;

  /* Cor dos painéis */
  --secundary-color: #384170;

  --black2:#181829;

  /* Cor do texto nos painéis */
  --text-color-primary-light: #FFFFFF;
  --text-color-secondary-light: #65656B;

  /* Cores do botão principal */
  --button-color-primary: #246BFD;
  --button-color-primary-hover: #213AC5;

  /* Espaçamentos padrões */
  --default-spacing:8px;
  --default-border-radius:8px;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  text-align: justify;
}

.App{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: calc(10 * var(--default-spacing));
  width: 1115px;
  height: 641px;
}

.Carteirinha{
  display: flex;
  flex-direction: row;
  padding: calc(2 * var(--default-spacing));
  width: 100%;
  height: 100%;
  border: 1px solid var(--separator-color-primary);
  border-radius: var(--default-border-radius);
  background: linear-gradient(to right, #BBD6E1, #A7C8D6, #AFDCEF, #A2D7ED, #9AD3EA, #80C7E5, #74C2E3, #5DB7DD, #51B2DB, #4FB1DA, #3AA7D5);
}

.left-side{
  width: 256px;
  z-index: 2;
}

.middle-side{
  width: 460px;
  z-index: 2;
}

.right-side{
  width: 380px;
  z-index: 2;
}

.Carteirinha::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTQ0MCAzMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAsMTYwIFE2MCwyNDAgMTIwLDE2MCBUMjQwLDE2MCBUMzYwLDE2MCBUNDgwLDE2MCBUNTYwLDE2MCB2NjAwLDc2MCA2MDAsMTYwIFQ3MjAsMTYwIFQ4NDAsMTYwIFQ5NjAsMTYwIFQxMDgwLDE2MCBUNDIwLDE2MCAxNDAwLDE2MCIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiIGZpbGw9Im5vbmUiPjwvcGF0aD48L3N2Zz4=');
  background-size: cover;
  opacity: 0.2;
  z-index: 1;
}

.userImage{
  margin-top: calc(8*var(--default-spacing));
  margin-bottom: calc(8*var(--default-spacing));
  width: 256px;
  height: 256px;
  background-image: url('./assets/images/user.png');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.qrcode{
  margin-right: calc(4*var(--default-spacing));
  float: right;
}

.dados{
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 160px;
}

.dados h2{
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 160px;
}

.infoRightSide{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: right;
}

.imageUntri {
  position: relative;
  float: right;
  width: 120px;
  height: 120px;
  background-image: url('./assets/images/unitri.webp');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  background-origin: content-box;
  z-index: 9999;
}

.infoRight{
  position: relative;
  height: 100%;
  z-index: 1;
}

.infoRight h4{
  position: absolute;
  right: 0;
  bottom: 0;
}

.contextModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.informacoesModal{
  margin: var(--default-spacing);
  width: 80%;
}

.contextModal input{
  width: 100%;
  padding: var(--default-spacing);
}

.contextModal button{
  padding: var(--default-spacing);
  width: 80%;
  background-color: #80C7E5;
}

.contextModal button:hover{
  background-color: #3AA7D5;
}